[project]
	description = Documentation and getting started instructions to run this website on RPI, Linux, Windows with Docker in punlimitlab/Home
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cedric LEBLOND (CedricLeblond)
[access "refs/for/refs/*"]
	read = group user/Cedric LEBLOND (CedricLeblond)
	push = group user/Cedric LEBLOND (CedricLeblond)
	label-Code-Review = -2..+2 group user/Cedric LEBLOND (CedricLeblond)
	label-Verified = -1..+1 group user/Cedric LEBLOND (CedricLeblond)
	rebase = group user/Cedric LEBLOND (CedricLeblond)
	removeReviewer = group user/Cedric LEBLOND (CedricLeblond)
	submit = group user/Cedric LEBLOND (CedricLeblond)
[access "refs/heads/*"]
	read = group user/Cedric LEBLOND (CedricLeblond)
	create = group user/Cedric LEBLOND (CedricLeblond)
	push = +force group user/Cedric LEBLOND (CedricLeblond)
	pushMerge = group user/Cedric LEBLOND (CedricLeblond)
[access "refs/tags/*"]
	push = +force group user/Cedric LEBLOND (CedricLeblond)
	pushTag = group user/Cedric LEBLOND (CedricLeblond)
	pushSignedTag = group user/Cedric LEBLOND (CedricLeblond)
